{% extends "base.html.twig" %}

{% block body %}
    <div id="map">
        
    </div>
   
   <div id="navigate">
       <div class="child">
            <button type="button" id="add" class="btn btn-primary btn-circle btn-xl"><span>+</span></button> 
       </div>
       <div class="child" id="totalDistance"></div>
       <div class="child">
            <button type="button" id="go" class="btn btn-secondary btn-circle btn-xl"><span>GO</span></button> 
       </div>
       <div class="child" id="totalTime"></div>
       <div class="child">
            <button type="button" id="km" class="btn btn-success btn-circle btn-xl"><img src="{{ preload(asset('build/images/award1.png')) }}" alt="icon" /></button> 
        </div>
   </div>    
   
        <div id="hidden-go">
            
            
            
            <h2>Tu penses jouer?</h2>
            <br />
            <div class="hidden">
             <div class="child">
            <button type="button" id="onehour" class="btn btn-primary btn-circle btn-xl red"><span>1h</span></button> 
             </div>
             <div class="child">
            <button type="button" id="twohour" class="btn btn-secondary btn-circle btn-xl orange"><span>2h</span></button> 
             </div>
             <div class="child">
                 <button type="button" id="treehour" class="btn btn-success btn-circle btn-xl green"><span>3h</span></button> 
             </div>
            </div>    
        </div>
        
        <div id="hidden-km">
   
            <div class="hidden">
             <div class="child">
                <img src="{{ preload(asset('build/images/profil.png')) }}" rel="preload" class="img-profil" alt="photo-profil" />
             </div>
             <div class="child">
                 <p>23 actions</p> 
             </div>
             <div class="child">
                 <p>2385 points</p>
            </div>    
            </div>
            <div class="hidden">
               
                <h2>Christophe Levesques</h2> 
                <br />
            </div>
            <div class="hidden">
                <div class="point">
                Sport expert<br />
                10% de remise     600 points <strong>Réclamer</strong>
                </div>
                <div class="scan"><img src="{{ preload(asset('build/images/code.png')) }}" rel="preload" alt="code barre" /></div>
            </div>    
            <br />
            <br />
             <div class="hidden">
                <div class="point">
                Vélo Acro<br />
                5% de remise     400 points <strong>Réclamer</strong>
                </div>
                <div class="scan"><img src="{{ preload(asset('build/images/code.png')) }}" rel="preload" alt="code barre" /></div>
            </div>    
        </div>
        
        <div id="hidden-add">
         
            <div class="hidden">
             <div class="child">
                 <div class="cercle">
                     <img src="{{ preload(asset('build/images/problem.png')) }}" rel="preload" />
                 </div>
                 <span>125 pts</span>
                 <br/>
                 <p>Rapporter un problème</p>
             </div>
             <div class="child">
                 <div class="cercle">
                     <img src="{{ preload(asset('build/images/info.png')) }}" rel="preload" />
                 </div>
                <span>100 pts</span>
                  <br/>
                 <p>Ajouter une info</p>
             </div>
             <div class="child">
                 <div class="cercle">
                     <img src="{{ preload(asset('build/images/star.png')) }}" rel="preload" />
                 </div>
                 <span>10 pts</span>
                   <br/>
                 <p>Avis & notes</p>
             </div>
            </div>    
        </div>
        
    </div>        
 
{% endblock %}  


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homecss') }}
{% endblock %}
    
 {% block javascripts %}
     {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}